*
!.gitignore

!mods
!mods/**
mods/.old/

!/config
!config/**

!kubejs
!kubejs/startup_scripts
!kubejs/client_scripts
!kubejs/server_scripts
!kubejs/startup_scripts/**
!kubejs/client_scripts/**
!kubejs/server_scripts/**

!config\config.json
